<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WOODIES</title>
	 <link rel="icon" type="image/x-icon" href="favico/268153858_963896227874138_8988487534715679962_n.png">
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="scss/foundation/foundation.css">
	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="wroth">
		<header>
			<div class="header mobile-container">
				<nav>
					 <div class="topnav nav grid-x">
						<a class="logo" href="#woodien"><img src="img/logo.png" alt=""></a>
						<div class="topnav-item grid-x">
							<div class="myLinks myLinksBurger" id="myLinks">
								<%- c[0].text %> 
							</div>
							<a class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
						</div>
						
					</div>
				</nav>
			</div>
		</header>
		<div class="main ">
			<div class="main-item">
				<%- c[1].text %> 
			</div>
			<div class="main-image">
				<img class="img" src="<%- c[1].imgPath %> " alt="">
			</div>
		</div>
	</div>
	<div class="conteiner">
		<div class="conteiner-title">
			<img src="icon/Group 28.png" alt="">
			<p class="conteiner-title-name">Who we are</p>
			<img src="icon/Line 1.png" alt="">
			<p class="conteiner-title-about">ABOUT US</p>
		</div>
		<div class="conteiner-description">
			<div class="conteiner-description-image">
				<img src="<%- c[2].imgPath %> " alt="">
			</div>
			<div class="conteiner-description-item">
				<%- c[2].text %>  
			</div>
		</div>
		<div class="conteiner-wroth">
			<div class="conteiner-wroth-item">
				<%- c[3].text %> 
			</div>
			<img class="spoon"
				src="<%- c[3].imgPath %> "
				alt="">

		</div>
	</div>
	<div class="custom">
		<div class="conteiner-title">
			<img src="icon/Group 28.png" alt="">
			<p class="conteiner-title-name">How to custom</p>
			<img src="icon/Line 1.png" alt="">
			<p class="conteiner-title-about">HOW IT WORKS</p>
		</div>
		<div class="custom-item grid-x">
			<%- include('partials/steps.ejs') %> 
		</div>
		<form method="post">
			<button type="submit" class="custom-btn">
				<a class="custom-btn-link" href="#get">Get Personalized Now</a>
			</button>
		</form>
	</div>
	<div class="categories">
		<div class="conteiner-title">
			<img src="icon/Group 28.png" alt="">
			<p class="conteiner-title-name">What we have</p>
			<img src="icon/Line 1.png" alt="">
			<p class="conteiner-title-about">CATEGORIES</p>
		</div>
		<div class="categories-item grid-x">
			<%- include('partials/categories.ejs') %> 
		</div>	
	</div>
	<div class="test">
		<div class="conteiner-title">
			<img src="icon/Group 28.png" alt="">
			<p class="conteiner-title-name">How to custom</p>
			<img src="icon/Line 1.png" alt="">
			<p class="conteiner-title-about">ABOUT US</p>
		</div>
	</div>	
		<!-- Slider main container -->
	<div class="swiper">
	<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
	  <!-- Slides -->
	  		<%- include("partials/commentSlides.ejs") %> 
		</div>
	<!-- If we need pagination -->
		<div class=" round swiper-pagination"></div>
	
		<!-- If we need navigation buttons -->
	
  
	<!-- If we need scrollbar -->
		
  	</div>
	<footer>
		<div class="footer">
			<div class="subscribe">
					<div class="p">
						<p class="subscribe-item">Subscribe to our newsletter</p>
						<p class="p-2">monthly digest of the new WOODIES products, hot offers, and resources.</p></div>
				  <div class="subscribe-input">
					<form method="post">
						<input id="myInput" class="input" name="email" placeholder="Your email address" type="text">
						<button type="submit" class="subscrine-btn">Subscribe</button>
					 </form>
				  </div>
			</div>
			<div class="footer-item">
		 		<img class='line-5' src="icon/Line 5.png" alt="">
				<div class="footer-item-box">
					<div class="footer-item-box-logo">
						<img class="wod" src="img/logo.png" alt="">
						<a class="footer-link" href="">(012) 8967453</a>
						<a class="footer-link" href="">woodies@gmail.com</a>
						<a class="footer-link" href="">Jakarta, Indonesia</a>
					</div>

					<div class="footer-item-box-col">
						<p class="footer-item-col-title">Product</p>
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
						
					</div>
					<details style="display: none;">
						<summary >Product</summary>
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
					</details>
					<div class="footer-item-box-col">
						<p class="footer-item-col-title">Product</p>
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
					</div>
					<details style="display: none;">
						<summary>Product</summary>
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
					</details>
					<div class="footer-item-box-col">
						<p class="footer-item-col-title">Product</p>
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
					</div>
					<details style="display: none;">
						<summary>Product</summary>
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
					</details>
					<div class="footer-item-box-col">
						<p class="footer-item-col-title">Product</p>
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
					</div>
					<details style="display: none;">
						<summary>Product</summary>
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
					</details>
				</div>
			</div>
		</div> 

	
	</footer>
	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
	<script src="js/script.js"></script>
	
</body>

</html> 