<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WOODIES</title>
	 <link rel="icon" type="image/x-icon" href="favico/268153858_963896227874138_8988487534715679962_n.png">
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="scss/foundation/foundation.css">
	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="wroth">
		<header>
			<div class="header mobile-container">
				<nav>
					<div class="topnav nav grid-x">
						<a class="logo" href="#woodien"><img src="img/logo.png" alt=""></a>
						<div class="topnav-item grid-x">
							<div id="myLinks">
								<a class="topnav-link yell" href="#home">Home</a>
								<a class="topnav-link" href="#about">About Us</a>
								<a class="topnav-link" href="#how">How it works</a>
								<a class="topnav-link" href="#categoris">Categories</a>
								<a class="topnav-link" href="#testimony">Testimony</a>
								<a href="#sign" class="topnav-btn"><span class="topnav-btn-sign">SIGN UP</span></a>
							</div>
							<a href="javascript:vold(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
						</div>
						
					</div>
				</nav>
			</div>
		</header>
		<div class="main ">
			<div class="main-item">
				<p class="main-item-title"><%= one %> <span><%= one1 %> </span><%= one2 %> </p>
				<p class="main-item-description"><%= one3 %> </p>
				<a href="#furniture" class="main-item-btn"><span class="main-item-btn-text">Explore Furniture</span></a>
			</div>
			<div class="main-image">
				<img class="img" src="<%= main %> " alt="">
			</div>
		</div>
	</div>
	<div class="conteiner">
		<div class="conteiner-title">
			<img src="icon/Group 28.png" alt="">
			<p class="conteiner-title-name">Who we are</p>
			<img src="icon/Line 1.png" alt="">
			<p class="conteiner-title-about">ABOUT US</p>
		</div>
		<div class="conteiner-description">
			<div class="conteiner-description-image">
				<img src="<%= aboutUs %> " alt="">
			</div>
			<div class="conteiner-description-item">
				<p class="conteiner-description-item-title"><%= second %> <span><%= second1 %> </span><%= second2 %> 
				</p>

				<p class="conteiner-description-text"><%= second3 %> </p>
			</div>
		</div>
		<div class="conteiner-wroth">
			<div class="conteiner-wroth-item">
				<p class="conteiner-wroth-item-title"><span><%= second4 %> </span><%= second5 %> </p>
				<p class="conteiner-wroth-item-text"><%= second6 %> </p>
			</div>
			<img class="spoon"
				src="img/Script-Online-Ado-Beech-Steel-Spoon-Set-Of-3-52151704SD00001-PDP-Gallery-D-01 1.png"
				alt="">

		</div>
	</div>
	<div class="custom">
		<div class="conteiner-title">
			<img src="icon/Group 28.png" alt="">
			<p class="conteiner-title-name">How to custom</p>
			<img src="icon/Line 1.png" alt="">
			<p class="conteiner-title-about">HOW IT WORKS</p>
		</div>
		<div class="custom-item grid-x">
			<div class="custom-item-image">
				<img src="<%= miniPic %> " alt="">
			</div>
			<div class="custom-item-image">
				<img src="<%= miniPic2 %>" alt="">
			</div>
			<div class="custom-item-image">
				<img src="<%= miniPic3 %>" alt="">
			</div>
			<div class="custom-item-image">
				<img src="<%= miniPic4 %>" alt="">
			</div>
		</div>
		<form method="post">
			<button type="submit" class="custom-btn">
				<a class="custom-btn-link" href="#get">Get Personalized Now</a>
			</button>
		</form>
	</div>
	<div class="categories">
		<div class="conteiner-title">
			<img src="icon/Group 28.png" alt="">
			<p class="conteiner-title-name">What we have</p>
			<img src="icon/Line 1.png" alt="">
			<p class="conteiner-title-about">CATEGORIES</p>
		</div>
		<div class="categories-item grid-x">
			<img class="categories-item-img" src="<%= categories %> " alt="">
			<img class="categories-item-img" src="<%= categories2 %> " alt="">
			<img class="categories-item-img" src="<%= categories3 %> " alt="">
			<img class="categories-item-img" src="<%= categories4 %> " alt="">
			<img class="categories-item-img" src="<%= categories5 %> " alt="">
		</div>
	</div>
	<div class="test">
		<div class="conteiner-title">
			<img src="icon/Group 28.png" alt="">
			<p class="conteiner-title-name">How to custom</p>
			<img src="icon/Line 1.png" alt="">
			<p class="conteiner-title-about">ABOUT US</p>
		</div>
	</div>	
		<!-- Slider main container -->
	<div class="swiper">
	<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
	  <!-- Slides -->
	  		<div class="swiper-slide">
				<div class="swiper-cont">
					<div class="swiper-cont-image">
						<img class="radius" src="<%= comment1Pic %> " alt="">
						<img class="radius" src="<%= comment1Pic2 %> " alt="">
					</div>
					<div class="swiper-cont-box">
						<img src="icon/Group 55.png" alt="" class="stars">
						<p class="swiper-cont-box-discliption">
							<%= comment1 %> 
						</p>
						<div class="swiper-cont-box-logo">
							<img class="women" src="<%= comment1Pic3 %> " alt="">
							<p class="name"><%= comment1Name %> </p>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="swiper-cont">
					<div class="swiper-cont-image">
						<img class="radius" src="<%= comment2Pic %>" alt="">
						<img class="radius" src="<%= comment2Pic2 %>" alt="">
					</div>
					<div class="swiper-cont-box">
						<img src="icon/Group 55.png" alt="" class="stars">
						<p class="swiper-cont-box-discliption">
							<%= comment2 %> 
						</p>
						<div class="swiper-cont-box-logo">
							<img class="women" src="<%= comment2Pic3 %>" alt="">
							<p class="name"><%= comment2Name %> </p>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="swiper-cont">
					<div class="swiper-cont-image">
						<img class="radius" src="<%= comment3Pic %>" alt="">
						<img class="radius" src="<%= comment3Pic2 %>" alt="">
					</div>
					<div class="swiper-cont-box">
						<img src="icon/Group 55.png" alt="" class="stars">
						<p class="swiper-cont-box-discliption">
							<%= comment3 %> 
						</p>
						<div class="swiper-cont-box-logo">
							<img class="women" src="<%= comment3Pic3 %>" alt="">
							<p class="name"><%= comment3Name %> </p>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="swiper-cont">
					<div class="swiper-cont-image">
						<img class="radius" src="<%= comment4Pic %>" alt="">
						<img class="radius" src="<%= comment4Pic2 %>" alt="">
					</div>
					<div class="swiper-cont-box">
						<img src="icon/Group 55.png" alt="" class="stars">
						<p class="swiper-cont-box-discliption">
							<%= comment4 %> 
						</p>
						<div class="swiper-cont-box-logo">
							<img class="women" src="<%= comment4Pic3 %>" alt="">
							<p class="name"><%= comment4Name %> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- If we need pagination -->
		<div class=" round swiper-pagination"></div>
	
		<!-- If we need navigation buttons -->
	
  
	<!-- If we need scrollbar -->
		
  	</div>
	<footer>
		<div class="footer">
			<div class="subscribe">
					<div class="p">
						<p class="subscribe-item">Subscribe to our newsletter</p>
						<p class="p-2">monthly digest of the new WOODIES products, hot offers, and resources.</p></div>
				  <div class="subscribe-input">
					<form method="post">
						<input id="myInput" class="input" name="email" placeholder="Your email address" type="text">
						<button type="submit" class="subscrine-btn">Subscribe</button>
					 </form>
				  </div>
			</div>
			<div class="footer-item">
		 		<img class='line-5' src="icon/Line 5.png" alt="">
				<div class="footer-item-box">
					<div class="footer-item-box-logo">
						<img src="img/logo.png" alt="">
						<a class="footer-link" href="">(012) 8967453</a>
						<a class="footer-link" href="">woodies@gmail.com</a>
						<a class="footer-link" href="">Jakarta, Indonesia</a>
					</div>

					<div class="footer-item-box-col">
						<p class="footer-item-col-title">Product</p>
						<button class="accordion" style="display:none">Product</button>
						<div class="panel" >
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
						</div>
					</div>
					<div class="footer-item-box-col">
						<p class="footer-item-col-title">Product</p>
						<button class="accordion" style="display:none">Product</button>
						<div class="panel" >
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
						</div>
					</div>
					<div class="footer-item-box-col">
						<p class="footer-item-col-title">Product</p>
						<button class="accordion" style="display:none">Product</button>
						<div class="panel" >
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
						</div>
					</div>
					<div class="footer-item-box-col">
						<p class="footer-item-col-title">Product</p>
						<button class="accordion" style="display:none">Product</button>
						<div class="panel" >
						<a class="footer-link" href="">Furnitures</a>
						<a class="footer-link" href="">Packages</a>
						<a class="footer-link" href="">Services</a>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</footer>
	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
	<script src="js/script.js"></script>
	
</body>

</html> 